@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  font-size: 62.5%;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}